<%- include("partials/header") %>
<div class ='container'>
	<div class ='content'>
		
	<h3 class='heading'> Basic Banking System</h3>	
     
	<h1 class="main-content">
		Now transferring money just got easy
    
    </h1>

 <button class='submit'><a href="/view"></a>Get Started</button>

 
</div>
</div>

<footer class="copyright">
	<p>&copy 2021. Made by <b> Vedansh Kumar</b> <br> For the Project of  <b>The Sparks Foundation</b></p>
</footer>
	
<%- include("partials/footer") %>
